<table id="patient_info_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead >
            <tr>
                <th>age</th>
                <th>bedNum</th>
                <th>id</th>
                <th>mac</th>
                <th>monitoring_level</th>
                <th>name</th>
                <th>roomNum</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>age</th>
                <th>bedNum</th>
                <th>id</th>
                <th>mac</th>
                <th>monitoring_level</th>
                <th>name</th>
                <th>roomNum</th>
            </tr>
        </tfoot>
    </table>